<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %> 
    <% let MSubtotal = 0; %>
      <form action="/sleekskincare/checkout" method="post">
          <section class="container card cart-items" style="margin-top: 150px;">
            <div class="row justify-content-between align-items-center">
                <div class="table-responsive" style="padding: 1rem;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                              <th scope="col" style="width: 50%; font-weight: 100;">Product</th>
                              <th scope="col" style="text-align: end; font-weight: 100; min-width: 120px">Unit Price</th>
                              <th scope="col" style="text-align: end; font-weight: 100;">Quantity</th>
                              <th scope="col" style="text-align: end; font-weight: 100; min-width: 120px">Item Subtotal</th>
                            </tr>
                          </thead>
                          <tbody>
                          <%  if (cartShow.length > 0) {  %>
                            <% for(let i = 0; i < cartShow.length; i++){ %>
                              <%let maybawas = 0;%>
                              <%if(user.customer_position == "Distributor"){%>
                                <%maybawas =cartShow[i].price - (cartShow[i].price * 0.2) %>
                              <%} else {%>
                                <%maybawas =cartShow[i].price - (cartShow[i].price * 0.1) %>
                              <%} %>
                            <tr>
                              <th scope="row">
                                  <div class="row justify-content-start align-items-center">
                                      <div class="col-xs-12 col-sm-12 col-md-5">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <img class="card-img-start" style="height: 150px; min-width: 150px;" src="/products/<%=cartShow[i].prod_img%>" alt="Card image cap">
                                            </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-7">
                                        <p class="offer-title"><%=cartShow[i].prod_name %> </p>
                                        <p style="font-weight: 100; font-size: 0.8rem;">Sleek</p>
                                    </div> 
                                  </div>
                              </th>
                              <td style="text-align: end; vertical-align: middle;">₱<%=maybawas%></td>
                              <td style="text-align: end; vertical-align: middle;"><%=cartShow[i].quantity%></td>

                              <% MSubtotal = MSubtotal + (maybawas * cartShow[i].quantity); %>
                              <% let amount = maybawas * cartShow[i].quantity; %>

                              <td style="text-align: end; vertical-align: middle;"><%=amount%></td>

                              <input type="text" name="qty" value="<%=cartShow[i].quantity%>" hidden>
                              <input type="text" name="prodAmount" value="<%=amount%>" hidden/>
                              <input type="text" name="cartId" value="<%=cartShow[i].prod_id%>" hidden/>
                              <input type="text" name="prodssId" value="<%=cartShow[i].cart_id%>" hidden/>
                            </tr>
                            <% } %>
                          <% } %>
                          </tbody>
                    </table>
                </div>
            </div>
          </section>

          <section class="container card shopping-details" style="margin-top: 20px;">
            <div class="row justify-content-start align-items-center p-4" style="border-bottom: 1px solid gray;">
                <h6 style="font-weight: 100;">Shopping Details</h6>
            </div>
    
            <div class="row justify-content-between align-items-center p-3">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Message</span>
                        </div>
                        <textarea name="message" class="form-control" aria-label="With textarea" placeholder="Leave a message to the seller..."></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-column justify-content-start align-items-center mb-0 mt-3">
                            <p style="margin: 0; font-weight: bold;">Standard Local</p>
                            <p style="font-size: 0.8rem;">Receive by 9-12 of Dec</p>
                        </div>
                        <p style="font-weight: bold;">₱100</p>
                        <input type="text" name="receivedDate" value="8 - 11 Nov" hidden/>
                    </div>
                </div>
            </div>
          </section>

          <section class="container card shopping-details" style="margin-top: 20px;">
            <div class="row justify-content-start align-items-center p-4" style="border-bottom: 1px solid gray;">
                <h6 style="font-weight: 100;">Delivery Address</h6>
            </div>
    
            <div class="row justify-content-between align-items-start g-2 mt-3 mb-3">
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fname">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phonenumber" placeholder="(+63)">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label" style="width: 100%;">Region</label>
                    <select id="region" class="form-select" aria-label="Default select example" onchange="showRegion(this.value, this.name)" style="width: 100%; height: 40px; padding-left: 0.8rem;">
                        <option style="display: none" value="">Region</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label" style="width: 100%;">Province</label>
                    <select id="province" class="form-select" aria-label="Default select example" onchange="showProvince(this.value)" style="width: 100%; height: 40px; padding-left: 0.8rem;">
                      <option style="display: none" value="">Province</option> 
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label" style="width: 100%;">Province</label>
                    <select id="city" class="form-select" aria-label="Default select example" onchange="showCity(this.value)" style="width: 100%; height: 40px; padding-left: 0.8rem;">
                      <option style="display: none" value="">City</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label" style="width: 100%;">Province</label>
                    <select id="barangay" class="form-select" aria-label="Default select example" onchange="showBarangay(this.value)" style="width: 100%; height: 40px; padding-left: 0.8rem;">
                      <option style="display: none" value="">Barangay</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Address</label>
                    <input id="street" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Street Name, Building, House no.">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Zip Code</label>
                    <input id="zipcode" type="number" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Set address as:</label>
                    <div class="input-group">
                        <label class="btn m-2 home-radio-button" id="homeAddress" style="background-color: #d2985e; color: white; padding: 1rem;">
                            <input type="radio" value="Home" name="labelAddress" id="home" checked> Home
                        </label>
                        <label class="btn m-2 work-radio-button" id="workAddress" style="border: 1px solid #d2985e; padding: 1rem;">
                            <input type="radio" value="Work" name="labelAddress" id="work"> Work 
                        </label>
                    </div>
                    <div class="form-check form-switch" style="margin-left: 0.8rem;">
                        <input class="form-check-input" type="checkbox" role="switch" style="margin-right: 0.7rem;" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Set as default address?</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end align-items-center p-3" style="border-top: 1px solid lightgrey;">
                <div class="col-sm-12 col-md-3">
                    <button type="button" class="btn" id="saveAddress" style="width: 100%;">Save Address</button>
                </div>
            </div>
        </section>

        <section class="container card p-3 payment-details" style="margin-top: 20px;">
          <% let totalPayment = MSubtotal + 100; %>
          <div class="row justify-content-between align-items-center p-3" style="border-bottom: 1px solid gray;">
              <h6 style="font-weight: 100;">Payment Details</h6>
              <div class="row justify-content-end align-items-center ml-2">
                  <label class="btn m-2 labelForRadio" for="gcash" id="gcashButton" style="background-color: #d2985e; color: white; padding: 0.8rem;">
                      <input type="radio" name="radio" id="gcash" checked>
                      G-cash
                  </label>
                  <label class="btn m-2 labelForRadio" for="paymaya" id="paymayaButton" style="border: 1px solid #d2985e; padding: 1rem; color: #d2985e;">
                      <input type="radio" name="radio" id="paymaya">
                      Paymaya
                  </label>
                  <label class="btn m-2 labelForRadio" for="unionbank" id="unionButton" style="border: 1px solid #d2985e; padding: 1rem; color: #d2985e;">
                      <input type="radio" name="radio" id="unionbank">
                      Union Bank
                  </label>
                  <label class="btn m-2 labelForRadio" for="bdo" id="bdoButton" style="border: 1px solid #d2985e; padding: 1rem; color: #d2985e;">
                      <input type="radio" name="radio" id="bdo">
                      BDO
                  </label>
                  <label class="btn m-2 labelForRadio" for="bpi" id="bpiButton" style="border: 1px solid #d2985e; padding: 1rem; color: #d2985e;">
                      <input type="radio" name="radio" id="bpi">
                      BPI
                  </label>
              </div>
          </div>
          <div class="row justify-content-end align-items-start payment-info">
              <div class="col-sm-12 col-md-4 mt-5 mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                      <p>Merchandise Subtotal:</p>
                      <p style="font-weight: bold;">₱<%=MSubtotal%></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                      <p>Shipping Total:</p>
                      <p style="font-weight: bold;">₱100</p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                      <p>Total Payment:</p>
                      <p style="font-weight: bold;">₱<%=totalPayment%></p>
                      <input type="text" name="totalp" value="<%=totalPayment%>" hidden/>
                  </div>
              </div>
          </div>
          <div class="row justify-content-end align-items-center p-3" style="border-top: 1px solid lightgrey;">
              <div class="col-sm-12 col-md-3">
                  <button type="button" class="btn" id="placeOrder" style="width: 100%;">Place Order</button>
              </div>
          </div>
        </section>

        <div class="modal fade" id="payment-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gcash Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row justify-content-center align-items-center">

                      <img class="qrcode-img" src="img/bpiqr.jpg" alt="cart icon" style="width: 250px; height: 250px;"/>
                      
                      <div class="col-sm-12 mt-3">
                          <p>Please scan the code to send your payment first.</p>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button class="btn" type="submit">Done</button>
              </div>
            </div>
          </div>
        </div>
    </form>

    <div class="modal fade" id="address-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Address Saved successfully</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Address</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer'); %>
    <script type="text/javascript" src="/js/phil.min.js"></script>
    <script src="https://kit.fontawesome.com/0ff9aa4425.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/checkout.js"></script>
  </body>
</html>
