<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>

    <section class="container all-products" style="margin-top: 150px;">
      <div class="section-title">
        <%if (products.length > 0){%>
          <h2><%=products.length%> Results Found for <span><%=searchValue%></span></h2>
        <%}else{%>
          <h2>Sorry <span>No Results Found</span></h2>
        <% } %> 
      </div>
      <div class="row justify-content-start align-items-start all-products-grid">
          <% if (products.length > 0) { %> <% for(let i = 0; i < products.length; i++){ %>

              <div class="col-xs-6 col-sm-6 col-md-2 p-2 card" style="width: 100%;">
                  <a href="/sleekskincare/product-details/<%= products[i].prod_id %>">
                      <img class="card-img-top" src="/products/<%=products[i].prod_img%>" alt="Card image cap">
                  </a>
                  <div class="card-body">
                      <p class="offer-title"><%= products[i].prod_name%></p>

                      <% if (user.customer_position == "Distributor") { %> <% let disPrice =products[i].price - (products[i].price * 0.20) %>
                          <p class="offer-price">₱<%= disPrice %>  <span>₱<%=products[i].price %></span></p>
                      <% } else { %> <% let sePrice =products[i].price - (products[i].price * 0.10) %>
                          <p class="offer-price">₱<%= sePrice %>  <span>₱<%=products[i].price %></span></p>
                      <% } %>

                      <div class="rate-stars">
                          <% if (Number.isNaN(Math.floor(products[i].No_Of_Reviews / products[i].Total_No_Of_Reviews))) { %> 
                              <% for(let i=0; i < 5; i++){ %>
                                  <i class="bx bxs-star nocolor"></i>
                              <% } %> 
                          
                          <% } else { %> <% let rate = Math.floor(products[i].No_Of_Reviews / products[i].Total_No_Of_Reviews); %>
                              <% for(let i = 0; i < rate; i++){ %>
                                  <i class="bx bxs-star"></i>
                              <% } %> 
                              <% let rateForNoColor = 5 - rate %> 
                              <% for(let i=0; i < rateForNoColor; i++){ %>
                                  <i class="bx bxs-star nocolor"></i>
                              <% } %>
                          <% } %>
                      </div>
                  </div>
              </div>

          <% } %> 
          <% } %>
      </div>
  </section>

    <%- include('../partials/footer'); %>
    <script src="https://kit.fontawesome.com/0ff9aa4425.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="/js/dropdown.js"></script>
  </body>
</html>
